<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Website - About</title>
    <link rel="stylesheet" href="/static/css/app.css">
</head>
<body>
    <h1>Khalid Williams</h1>
    <p>I am an outstanding student athlete. I am a 6'5" basketball star and an intelligent coder. Apart from basketball and coding I love to read, workout, meditate and play games. Currently, I love reading about human nature and psychology. My favorite game to play is Apex Legends and I try my best to workout and meditate everyday. That's enough about me though, what are your hobbies? How are you feeling mentally? Remember health is wealth, always put yourself first and don't be afraid to spend a little extra money treating yourself from time to time as long as it makes you feel good and put you at ease. Blessings.</p>
</body>
</html>